:root
{
	--green-bg: #426f42;
	--green-bg-ligth: #439642;
}

.list-inline-xxs 
{
	position: relative;
    transform: translate3d(0, -5px, 0);
    /* display: inline; */
	/* margin-bottom: -5px;
	margin-left: -8px;
	margin-right: -8px; */
}

.vision
{
  margin-top: -5%;
}

.list-inline-xxs > li
{
    display: inline-block;
    margin-left: 7px;
    margin-top: 7px;

    /* text-align: center;

    background-color: white;
    border-radius: 0.8em;
    /* color: black; */
    /* border-radius: 50px; */
    /* box-shadow: 0px 0px 2px #888; */
}

.br-service
{
  display: none;
}

.iframe-size
{
  width: 100%;
  height: 200px;
}

.header-icon
{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px !important;
    background-color: #ffffff;
    border-radius: 15px;
    color: #000000;
}

.txt-bold
{
    font-weight: bold;
}

.txt-center
{
    text-align: center;
}

.btn
{
    margin-left: 100%;
    border-radius: 35px;
}

.btn2
{
    margin-left: 80%;
    border-radius: 35px;
}

.btn3
{
    margin-top: 2%;
    /* margin-left: 10%; */
    border-radius: 35px;
}

.txt-two
{
    font-size: 500%;
    font-weight: bold;
    color: var(--green-bg);
    font-family: Arial, Helvetica, sans-serif;
}

.txt-one
{
    font-size: 700%;
    color: #012730;
    margin-top: -5%;
    font-family: Arial, Helvetica, sans-serif;
}

.border-left
{
    padding-left: 5%;
    border-left: 5px solid var(--green-bg);
}

.border-left-white
{
    padding-left: 3%;
    border-left: 2px solid #ffffff;
}

.button-secondary, .button-secondary:focus
{
    color: #ffffff;
    background-color: var(--green-bg);
    border-color: var(--green-bg);
}

.button-secondary:hover
{
    color: var(--green-bg);
    background-color: #ffffff;
    border-color: var(--green-bg-ligth);
}

.img-border
{
    border-style: solid;
    border-width: 10px;
    border-color: var(--green-bg);
}

.txt-bold-h2
{
    font-weight: 500;
}

.txt-spacing-h2
{
    letter-spacing: 2px;
}

.txt-spacing-h1
{
    font-weight: bold;
    letter-spacing: 10px;
}

.main-section
{
    height: 70%;
    margin-top: 5%;
}

.txt-blue
{
    color: var(--green-bg);
}

.txt-gray
{
    color: #282828;
}

/* **********CARD************ */
.card 
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: var(--green-bg);
    transition: 0.3s;
    width: 10%;
    height: 15%;
    padding: 1%;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 1%;
    padding-bottom: 1.5%;
    /* background-color: aqua; */
}

.container-card
{
    margin-top: 20px;
}

.card:hover 
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.glider-contain
{
    margin-top: 4% !important;
}

.glider-dot
{
  background-color: var(--green-bg-ligth);
  color: var(--green-bg-ligth);;
}

.slider-img
{
    padding-top: 12%;
    padding-bottom: 12%;
}

.txt-large
{
    font-size: 600%;
    letter-spacing: 5px;
    color: #feef02 !important;
    border: 2px;
    border-color: #000000;
}

.txt-medium
{
    font-size: 300%;
    letter-spacing: 5px;
    color: #feef02 !important;
    margin-top: -20px;
    border: 2px;
    border-color: #000000;
}

.txt-right
{
    margin-left: 0%;
}

.btn-right
{
    margin-right: 27%;
    margin-top: 2%;
}

.mt-footer
{
    margin-top: 10px;
}

.icons-footer
{
    margin-top: 25px;
    margin-left: 0px;
}

.icons-footer > li
{
    margin-left: 0px;
}

.logo-footer-left
{
    margin-left: 50%;
}

.icon-service
{
    margin-left: 35%;
    display: block;
    width: 30%;
    height: 30%;
}

.rigth-header
{
    margin-left: 10%;
}

.redes-left
{
    margin-right: -14%;
}

/* **********CARD SERVICE************ */
.card-service
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #eaeaea;
    transition: 0.3s;
    width: 90%;
    height: 100%;
    padding: 1%;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 20px;
    padding-top: 7%;
    padding-bottom: 1.5%;
    text-align: center;

    /* background-color: aqua; */
}

.card-service:hover 
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.txt-title-center
{
  margin-top: 3%;
  text-align: center;
}

.footer-top
{
  margin-top: 5%;
}

.bg-form
{
  background-color: #eaeaea;
}

.form-center
{
  padding-top: 4%;
  padding-left: 8%;
  text-align: center;
  width: 160%;
  /* margin-top: -15px; */
}

.border-input
{
  border: solid 1px;
}

.border-btn
{
  border-radius: 30px;
}

.service-content
{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 3%;  
}

.content-contact
{
  display: grid;
  grid-template-columns: 50% 50%;
}

.dots > button
{
  background-color: #D1D1D1;
}

.txt-developer
{
  font-size: 300%;
}


/* Gallery */
.container-gallery
{
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.gallery-item
{
  border: 1px solid #000000;

}

.gallery-item img
{
  width: 100%;
  height: 50%;
    
}

.gallery
{
  padding: 0 6px;
  padding-top: 6px;
  float: left;
  width: 25%;
}

@media (max-width: 700px)
{
  .gallery
  {
    margin: 6px 0;
    width: 50%;
  }
}

@media (max-width: 500px)
{
  .gallery
  {
    width: 100%;
  }
}


/******************* Responsive **********************/
@media (max-width: 768px)  
{
  .txt-developer
  {
    font-size: x-large !important;
  }

  .btn-contact
  {
    margin-left: -13% !important;
  }

  .txt-medium
  {
    font-size: x-large;
  }

  .txt-spacing-h1
  {
    font-size: medium;
    letter-spacing: 5px;
    font-weight: bolder;
  }

  .redes-left
  {
    /* background-color: green; */
    padding-left: 0px;
    /* margin-left: 0%; */
    margin-right: 1%;
    margin-top: 1%;
  }

  .btn2
  {
    margin-left: 50%;
  }

  .txt-two
  {
    text-align: center;
    font-size: 300%;
    /* font-weight: bold;
    color: #012730;
    font-family: Arial, Helvetica, sans-serif; */
  }

  .txt-one
  {
    text-align: center;
    font-size: 450%;
    /* color: #012730;
    margin-top: -5%;
    font-family: Arial, Helvetica, sans-serif; */
  }

  .card 
  {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #eaeaea;
    transition: 0.3s; */
    width: 50%;
    height: 15%;
    padding: 1%;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 1%;
    padding-bottom: 1.5%;
    /* background-color: aqua; */
  }

  .glider-contain
  {
    width: 97% !important;
  }

  .txt-right
  {
    margin-left: 0%;
  }

  .txt-large
  {
    font-size: 400%;
  }

  .btn
  {
    margin-left: 76% !important;
  }
    
  .logo-footer-left
  {
    margin-left: 21%;
  }

  .rd-navbar-fixed .rd-nav-link
  {
    color: #ffffff;
  }

  .card-service
  {
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .bg-form
  {
    margin-left: -10%;
  }

  .service-content
  {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 0%;  
  }

  .content-contact
  {
    display: grid;
    grid-template-columns: 100%;
  }

  .form-center
  {
    padding-left: 25%;
    padding-right: 41%;
  }

  iframe
  {
    width: 430px;
  }

  .slick-slide-caption
  {
    margin-left: 21%;
  }

  .brand-logo-dark
  {
    padding-top: 10px;
    padding-bottom: 7px;
  }

  .card-service
  {
    display: block;
  }

  .br-service
  {
    display: inline;
  }

}

/* Responsive Celulares Pequeños */
@media (max-width: 345px)  
{
  .ml-small
  {
    margin-left: 86px;
  }

  .ml-small2
  {
    margin-left: 29%;
  }

}